<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/headspace/stylesheets/screen.min.css" type="text/css" media="screen">
  <meta name="viewport" content="initial-scale=1">
</head>
<body>
  <div id="page">
    <%= yield %>
  </div>
</body>
</html>
