label, input, button {
  display: block;
}
label, button, input {
  margin-top: .5em;
}

input, button {
  font-size: 1em;
  font-family: "Merriweather" serif;
  height: 2em;
  width: 100%;
}

button {
  border-radius: 5px;
  background-color: #748FB2;
  line-height: 1.8em;
  color: #FFF;
  border: 0;
  -moz-transition: background-color .25s;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

button:hover {
  background-color: #7994B7;
}
.error {
  color: #B21200;
}


h1, h2, h3, h4, a {
  color: #748FB2;
}

a {

  -moz-transition: color .25s;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
}
a:visited {
  color: #7A9ECC;
}

a:hover {
  color: #B21200;
}
